body {
    margin: 0;
}

#tracking-model-reset-button-container input {
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 5px;
    padding-top: 5px;
    width: 14%;
    max-width: 100px;
}

#tracking-controls-container-lower {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

#tracking-start-stop-button {
    display: inline-block;
    width: 14%;
    max-width: 100px;
}

#tracking-height-slider-container {
    text-align: left;
}

#tracking-height-slider-container-inner {
    display: inline-block;
    width: 75%;
    max-width: 350px;
    padding-left: 10px;
}
