html, body {
    margin: 0;
    height: 100%;
    overflow: hidden
}

.info {
    font-size: large;
    position: absolute;
    width: 100%;
    padding-top: calc(12px + env(safe-area-inset-top));
    padding-bottom: 12px;
    background-color: #BBBBBB;
    text-align: center;
    top: 0;
    left: 0;
    opacity: 0.7;
    display: table;
}

#infoBox {
    display: none;
}

#infoBox .text {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    width: 50%;
}

#infoBox .icons {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
}

#infoBox .icons img {
    margin-left: 15px;
}


.overlayPickerInactive {
    opacity: 0.5;
}

.overlayPickerInactive a:hover {
    background: white;
    border-color: white;
    color: black;
    text-shadow: none;
}

.overlayPickerInactive a:active {
    background: white;
    border-color: white;
    color: black;
    text-shadow: none;
}

.overlayButton:active {
    opacity: 0.5;
}

.overlayButton img {
    height: 100%;
}

@media screen and (orientation: portrait) {
    #overlayContainer {
        background: none;
        position: absolute;
        right: 0;
        height: 100%;
        padding-top: env(safe-area-inset-top);
        padding-bottom: env(safe-area-inset-bottom);
        padding-right: calc(1vw + env(safe-area-inset-right));
    }

    #overlayPicker {
        display: none;
        overflow: hidden;
        height: 100%;
        text-align:right;
    }

    .overlayButton {
        text-align: center;
        vertical-align: middle;
        width: 10vh;
        height: 10vh;
        margin-top: 0.5vh;
        margin-bottom: 0.5vh;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 1px 1px #000;
    }
}

@media screen and (orientation: landscape) {
    #overlayContainer {
        background: none;
        position: absolute;
        bottom: 0;
        width: 100%;
        padding-bottom: calc(1vh + env(safe-area-inset-bottom));
    }

    #overlayPicker {
        display:none;
        text-align: center;
        width: 100%;
    }

    .overlayButton {
        padding: 0;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        width: 10vw;
        height: 10vw;
        margin-left: 0.5vw;
        margin-right: 0.5vw;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 1px 1px #000;
    }
}
