.info {
	font-size: large;
	position: relative;
	width: 100%;
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: #BBBBBB;
	text-align: center;
	top: 0;
	left: 0;
	opacity: 0.7;
	display: table;
}

.overlayPickerInactive {
	opacity: 0.5;
}

.overlayPickerInactive a:hover {
	background: white;
	border-color: white;
	color: black;
	text-shadow: none;
}

.overlayPickerInactive a:active {
	background: white;
	border-color: white;
	color: black;
	text-shadow: none;
}

@media screen and (orientation: portrait) {

	#overlayPicker {
		width: 22%;
		float: right;
	}

	#overlayPicker a {
		width: 90%;
		right: 0.5%;
	}

	#overlayPicker a img {
		width:100%;
	}
}

@media screen and (orientation: landscape) {

	#overlayPicker {
		width: 55%;
		text-align: right;
		position: absolute;
		right: 0.5%;
		bottom: 0.5%;
	}

	#overlayPicker a {
		width: 20%;
	}

	#overlayPicker a img {
		width: 100%;
	}
}