/* Position of POI-radar. */

.radarContainer_left {
    position: absolute;
    top: calc(35px + env(safe-area-inset-top));
    left: env(safe-area-inset-left);
    width: 100px;
    height: 100px;
}

.radarContainer_right {
    position: absolute;
    top: calc(35px + env(safe-area-inset-top));
    right: env(safe-area-inset-right);
    width: 100px;
    height: 100px;
}
