.info {
	font-size: large;
	position: absolute;
	width: 100%;
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: #BBBBBB;
	text-align: center;
	top: 0;
	left: 0;
	opacity: 0.7;
	display: table;
}

#snapContainer {
	position: absolute;
	width: 20%;
	height: 20%;
	top: 25%;
	left: 40%;
	background: #FFFFFF;
	opacity: .0;
}
