.info {
	font-size: large;
	position: absolute;
	width: 100%;
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: #BBBBBB;
	text-align: center;
	top: 0;
	left: 0;
	opacity: 0.7;
	display: table;
}

#snapContainer {
	width: 50vmax;
    height: 50vmax;
    position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -25vmax;
	margin-left: -25vmax;
	background: #FFFFFF;
	opacity: .0;
}