html, body {
    margin: 0;
    height: 100%;
    overflow: hidden
}

#mainHeader {
    background-color: #ddd;
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: env(safe-area-inset-top);
}

#footer {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: calc(1vh + env(safe-area-inset-bottom));
}

#popupButton {
    margin: auto;
}

#popupButton img {
    width: 100%;
    height: 100%;
}

#popupButton img:hover {
    opacity: 0.7;
}

#popupButtonTooltip {
  visibility: hidden;
  background-color: #edeca8;
  color: #000;
  font-family: sans-serif;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
}

#popupButton:hover #popupButtonTooltip {
    visibility: visible
}

#panelPoiDetail {
    background-color: #eee;
    height: 100%;
    right: 0;
    position: absolute;
    font-family: sans-serif;
    visibility: hidden;
    margin-top: env(safe-area-inset-top);
}

#poiDetailDistance {
    color: #3979db;
}

#panelRange {
    background-color: #eee;
    height: 100%;
    left: 0;
    position: absolute;
    font-family: sans-serif;
    visibility: hidden;
    margin-top: env(safe-area-inset-top);
}

#panelRangeValue {
    color: #3979db;
}

#panelRangePlaces {
    color: #3979db;
}

#panelRangeSliderContainer {
    display: flex;
    align-items: center;
}

#panelRangeSliderValue{
    background-color: #ccc;
    border-radius: 4px;
    text-align: center;
}

.header {
    background-color: #ddd;
    position: absolute;
    width: 100%;
    align-items: center;
    display: flex;
}

.customButton {
    z-index: 1;
    border-radius: 20px;
    border-style: solid;
    border-color: #ccc;
    font-weight: bold;
    font-size: small;
    background-color: #fff;
    white-space: nowrap;
}

#\#poiDetailMoreButton {
    margin: 0;
}

.headerTitle {
    flex: 1;
    text-align:center;
    font-weight: normal;
}

.content {
    position: absolute;
}

@media screen and (orientation: portrait) {
    #popupButton {
        width: 5vh;
        height: 5vh;
    }

    #popupButtonTooltip {
        width: 40vw;
        margin-left: -20vw;
    }

    #panelPoiDetail {
        top: 5vh;
        width: 70vw;
    }

    #panelRange {
        top: 5vh;
        width: 70vw;
    }

    #panelRangeSliderValue{
        padding: 1vh;
        margin-right: 1vh;
        width: 8vw;
    }

    #mainHeader {
        height: 5vh;
    }

    .header {
        top: 2vh;
        height: 5vh;
    }

    .customButton {
        height: 4vh;
        margin-left: 1vh;
        margin-right: 1vh;
    }

    .headerTitle {
        margin-left: -10vh;
        margin-right: 1vw;
    }

    .content {
        top: 7vh;
        margin-left: 5vw;
        margin-right: 5vw;
    }
}

@media screen and (orientation: landscape) {
    #popupButton {
        width: 5vw;
        height: 5vw;
    }

    #popupButtonTooltip {
        width: 40vh;
        margin-left: -20vh;
    }

    #panelPoiDetail {
        top: 5vw;
        width: calc(70vh + env(safe-area-inset-right));
        padding-left: env(safe-area-inset-left);
        padding-right: env(safe-area-inset-right);
    }

    #panelRange {
        top: 5vw;
        width: calc(70vh + env(safe-area-inset-left));
        padding-left: env(safe-area-inset-left);
        padding-right: env(safe-area-inset-right);
    }

    #panelRangeSliderValue{
        padding: 1vw;
        margin-right: 1vw;
        width: 8vh;
    }

    #mainHeader {
        height: 5vw;
    }

    .header {
        top: 2vw;
        height: 5vw;
        width: calc(100% - env(safe-area-inset-left) - env(safe-area-inset-right));
    }

    .customButton {
        height: 4vw;
        margin-left: 1vw;
        margin-right: 1vw;
    }

    .headerTitle {
        margin-left: -10vw;
        margin-right: 1vh;
    }

    .content {
        top: 7vw;
        margin-left: 5vh;
        margin-right: 5vh;
    }
}
