.info {
	font-size: large;
	position: absolute;
	width: 100%;
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: #BBBBBB;
	text-align: center;
	top: 0;
	left: 0;
	opacity: 0.7;
	display: table;
}


/* Portrait */
@media screen and (orientation:portrait) {
    #snapContainer {
		position: absolute;
	    top: 50%;
	    left: 50%;
	    margin-top: -2cm;
	    margin-left: -2cm;
	    width: 4cm;
	    height: 4cm;
		background: #FFFFFF;
		opacity: .0;
	}
}
/* Landscape */
@media screen and (orientation:landscape) {
	#snapContainer {
		position: absolute;
	    top: 50%;
	    left: 50%;
	    margin-top: -2.5cm;
	    margin-left: -2.5cm;
	    width: 5cm;
	    height: 5cm;
		background: #FFFFFF;
		opacity: .0;
	}
}
